package views

templ LogPath( fileStatus string) {
	<style type="text/css">
    span {
        font-weight: bold;
    }
    .container {
        padding-right: 5rem;
    }
    </style>
	<div id="fileStatus" class="container"><span>File Status:</span> { fileStatus }</div>
}
